<nb-layout>
  <nb-layout-header>
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <nb-actions class="float-right">
          <nb-action (click)="home()">Home</nb-action>
          <nb-action (click)="contactUs()">Contact Us</nb-action>
          <nb-action (click)="about()">About</nb-action>
        </nb-actions>
      </div>
    </div>
  </nb-layout-header>
  <nb-layout-column class="colored-column-basic">About!</nb-layout-column>
  <nb-layout-footer>Contact us</nb-layout-footer>
</nb-layout>
