<p>Nursery</p>
<div class="row">
    <div class="col-md-12">

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-body>
          
              <nb-tabset>
                <nb-tab tabTitle="Colors" badgeText="99+" badgeStatus="danger">
                  <div class="row">
                      <div class="col-md-3">sasad</div>
                      <div class="col-md-9">sdaasda</div>
                  </div>
                </nb-tab>


                <nb-tab tabTitle="Alphabets" badgeText="12" badgeStatus="danger">
                  <p>List of <strong>orders</strong>.</p>
                </nb-tab>


                <nb-tab tabTitle="Numbers" badgeText="new" badgeStatus="danger">
                  <p>List of <strong>transactions</strong>.</p>
                </nb-tab>
               
              </nb-tabset>
          
            </nb-card-body>
          </nb-card>
    </div>
</div>