<nb-layout>
  <nb-layout-header>
    <div class="row">
      <div class="col-md-8">
        <button nbButton status="success" size="tiny" (click)="toggle()">
          Toggle
        </button>
      </div>
      <div class="col-md-4">
        <nb-actions class="float-right">
          <nb-action (click)="home()">Home</nb-action>
        </nb-actions>
      </div>
    </div>
  </nb-layout-header>
  <nb-sidebar tag="left">
    <nb-menu [items]="items"> </nb-menu>
  </nb-sidebar>
  <nb-layout-column class="colored-column-basic">
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
