

<div class="row mr-0 ml-0 mb-2">
    <div class="col-md-8">Images</div>
    <div class="col-md-4 text-right">
        <button nbButton  status="primary" class="mr-2">Add Category</button>
        <button nbButton  status="primary">Upload Images</button>
    </div>
</div>

<div class="row mr-0 ml-0 imagesup">
<div class="col-md-12 p-0">
    <nb-card>
        <nb-card-body>
      
          <nb-tabset>
            <nb-tab tabTitle="Fruits" badgeText="99+" badgeStatus="danger">
              <div class="row">
                  <div class="col-md-1 mb-2 img-des">
                        <img src="http://www.pngmart.com/files/1/Apple-Fruit-PNG-File.png"><br>
                        <div class="text-center">Apple</div>
                  </div>
                  <div class="col-md-1 mb-2 img-des">
                    <img src="http://pngimg.com/uploads/banana/banana_PNG852.png"><br>
                    <div class="text-center">Banana</div>
                  </div>
                  <div class="col-md-1 mb-2 img-des">
                    <img src="http://pngimg.com/uploads/orange/orange_PNG790.png"><br>
                    <div class="text-center">Orange</div>
                  </div>
                  <div class="col-md-1 mb-2 img-des">
                    <img src="http://www.pngmart.com/files/1/Apple-Fruit-PNG-File.png">
                </div>
                <div class="col-md-1 mb-2 img-des">
                        <img src="http://www.pngmart.com/files/1/Apple-Fruit-PNG-File.png">
                </div>
                <div class="col-md-1 mb-2 img-des">
                    <img src="http://pngimg.com/uploads/banana/banana_PNG852.png"><br>
                    <div class="text-center">Banana</div>
                  </div>
                  <div class="col-md-1 mb-2 img-des">
                    <img src="http://pngimg.com/uploads/orange/orange_PNG790.png"><br>
                    <div class="text-center">Orange</div>
                  </div>
                  <div class="col-md-1 mb-2 img-des">
                    <img src="http://www.pngmart.com/files/1/Apple-Fruit-PNG-File.png">
                </div>
                <div class="col-md-1 mb-2 img-des">
                        <img src="http://www.pngmart.com/files/1/Apple-Fruit-PNG-File.png">
                </div>
                <div class="col-md-1 mb-2 img-des">
                    <img src="http://pngimg.com/uploads/banana/banana_PNG852.png"><br>
                    <div class="text-center">Banana</div>
                  </div>
                  <div class="col-md-1 mb-2 img-des">
                    <img src="http://pngimg.com/uploads/orange/orange_PNG790.png"><br>
                    <div class="text-center">Orange</div>
                  </div>
                  <div class="col-md-1 mb-2 img-des">
                    <img src="http://www.pngmart.com/files/1/Apple-Fruit-PNG-File.png">
                </div>
                <div class="col-md-1 mb-2 img-des">
                        <img src="http://www.pngmart.com/files/1/Apple-Fruit-PNG-File.png">
                </div>
                <div class="col-md-1 mb-2 img-des">
                    <img src="http://pngimg.com/uploads/banana/banana_PNG852.png"><br>
                    <div class="text-center">Banana</div>
                  </div>
                  <div class="col-md-1 mb-2 img-des">
                    <img src="http://pngimg.com/uploads/orange/orange_PNG790.png"><br>
                    <div class="text-center">Orange</div>
                  </div>
                  <div class="col-md-1 mb-2 img-des">
                    <img src="http://www.pngmart.com/files/1/Apple-Fruit-PNG-File.png">
                </div>
                <div class="col-md-1 mb-2 img-des">
                        <img src="http://www.pngmart.com/files/1/Apple-Fruit-PNG-File.png">
                </div>
                
                  
                
              </div>
            </nb-tab>


            <nb-tab tabTitle="Vegetables" badgeText="12" badgeStatus="danger">
              <p>List of <strong>orders</strong>.</p>
            </nb-tab>
            <nb-tab tabTitle="Animals" badgeText="67" badgeStatus="danger">
                <p>List of <strong>Telugu</strong>.</p>
            </nb-tab>

            <nb-tab tabTitle="Things" badgeText="34" badgeStatus="danger">
              <p>List of <strong>Telugu</strong>.</p>
            </nb-tab>
            <nb-tab tabTitle="Transport" badgeText="67" badgeStatus="danger">
                <p>List of <strong>Telugu</strong>.</p>
            </nb-tab>
           
          </nb-tabset>
      
        </nb-card-body>
      </nb-card>
</div>
</div>